<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ph.tymyreader"
    android:versionCode="1"
    android:versionName="0.1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" android:name="com.ph.tymyreader.TymyReader">
        <activity android:name="com.ph.tymyreader.TymyList" android:label="@string/title_activity_tymy_list">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity><activity
            android:name="com.ph.tymyreader.DiscussionView"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.ph.tymyreader.DiscussionList"
            android:label="@string/title_activity_discussion_list" >
        </activity>
        
        <activity
            android:name="com.ph.tymyreader.GlobalSettingsActivity"
            android:label="@string/title_global_settings_activity" >
        </activity>
        <activity
            android:name="com.ph.tymyreader.AppSettingsActivity"
            android:label="@string/title_tym_settings_activity" >
        </activity>
        <activity
            android:name="com.ph.tymyreader.EditTymyActivity"
            android:label="@string/title_activity_add_tymy" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ph.tymyreader.TymyList" />
        </activity>
    </application>

</manifest>